* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
    background: #b3db88;
    color: #000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 100%;
    margin: 50px 100px;
}

article {
  background: #E9E8EB;
  width: 900px;
  margin: auto;
  padding: 25px;
}

aside {
  background:#b3dbe8;
  width: 300px;
  margin: 10px;
  padding: 15px 25px;
  float: right;

}

@media (max-width: 800px) {

  article, aside { width: 100%; }
            aside { margin: 0; }
}
